<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理页面</title>
</head>

{% extends 'phone/layout.html' %}
{% block xx %}
<body>
    <h1>你好，欢迎来到学生管理页面</h1>
    <a href="/student/add/">增加学生信息</a>
    <form method="post" action="/student/select/">
        <input type="text" name="student_name" />
        <input type="submit" value="查询"/>
    </form>
    {% if msg %}
        {{ txt }}
    {% else %}
    <table>
        <tr>
            <th>学生学号</th>
            <th>学生姓名</th>
            <th>学生性别</th>
            <th>学生地址</th>
            <th>学生班级</th>
{#            <th>学生id</th>#}
        </tr>
        <tbody>
        {% for item in student_info %}
            <tr>
                <td>{{ item.student_name}}</td>
                <td>{{ item.student_id }}</td>
                <td>{{ item.student_sex }}</td>
                <td>{{ item.student_addriess }}</td>
                <td>{{ item.student_class }}</td>
{#                <td>{{ item.id }}</td>#}
{#                <td>#}
{#                    <a href="/student/update/?student_name={{ item.student_name }}">修改</a>#}
{#                    |#}
{#                    <a href="/student/delete/?student_name={{ item.student_name }}">删除</a>#}
{#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
{% endblock %}
</html>